
body {
    background-color:	#0099ff;
    font-size:14px;
    font-family:Arial; 
    margin: 0; 
}


ul {
    top:0;
    position: fixed;
    list-style-type: none;
    width: 100%;
    margin-bottom: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

    li {
    float: left;
    }

    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

    li a:hover {
    background-color: #998e8e;
    }

    main {
        padding-top: 5px;
        padding-bottom: 200px;
        }

footer {
    position: fixed;
    background-color: #333;
    padding: 14px 16px;
    bottom: 0;
    width: 100%;
    text-align: center;
        
}

    footer a {
           
        color: white;
                        
      }

    .Year {
        text-decoration: none;
        color: white;
    }

    .user {
        text-decoration: none;
        color: white;
    }
