* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url('./img/Home.jpg');
    background-size: 100%;
    font-size: 14px;
    font-family: Arial;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    padding: 0px;
    padding-left: 100px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

header a img {
    height: 3.5rem;
    width: auto;
}

#MenueContent {
   
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Logout {
    height: 100%;/* Set the height of the div to fill the header vertically */
    width: 100vw;
    padding-right: 150px;
    padding-left: 150px;
    display: flex;/* Use flexbox */
    justify-content: center;/* Center the content horizontally */
    align-items: center;/* Center the content vertically */
}

#Login {
    height: 100%;/* Set the height of the div to fill the header vertically */
    width: 100vw;
    padding-right: 150px;
    padding-left: 150px;
    display: flex;/* Use flexbox */
    justify-content: center;/* Center the content horizontally */
    align-items: center;/* Center the content vertically */
}

#MenueContent li {
    /* float: left; */
    margin: 0;

}

#MenueContent a {
    /* display: block;
    color: white;
    text-align: center;
    
    text-decoration: none; */
    text-decoration: none;
    padding: 10px 19px;
    color: white;
    border-radius: 20px;
}

#MenueContent a:hover,
#MenueContent a.active {
    background-color: #998e8e;
}




#appcontent {

    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
    

}

#chatbox {
    position: absolute;
    right: 0px;
    margin-top: 5px;
    margin-right: 5px;
    
}

#chatfenster{
    background-color: aliceblue;
}

/* welcome-page */

.welcome-page {

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    
}

.welcome-page h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    }

    .welcome-page  h2 {
    text-align: center;
    font-size: 20px;
    color: white;
    }
  
    .welcome-page   p {
    text-align: center;
    font-size: 30px;
    color: white;
    }

/* login-page */

.login-page {

    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1em;
    justify-content: center;
    min-height: 100vh;
    
}

.forms-window {

    background-color: #fff;
    min-height: 400px;
    width: 600px;
    border-radius: 20px;
    box-shadow: 5px 0 15px black;
    padding: 80px 60px;
    
}



 .forms_field input {

    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
}


 .forms_field input::placeholder {

    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
}

 .forms_field input::placeholder:hover {

    color: #858585;
}

 .Headline_Forms {

    margin-bottom: 70px;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    color: #e8716d;
    letter-spacing: 0.1rem;
    margin-top: 0;
}


 .forms_field .forms_field-input {

    width: 100%;
    border-bottom: 1.5px solid #ccc;
    padding: 6px 20px 6px 6px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #858585;
    letter-spacing: 0.1rem;
    transition: border-color 0.2s ease-in-out;
}

 .forms_field .forms_field-input:focus {

    border-color: #858585;
}

 .forms_field .forms_field-input:hover {

    border-color: #858585;
}

 .forms_buttons {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

 .forms-window button {

    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}

 .forms_buttons .forms_button-action {

    background-color: #e8716d;
    padding: 10px 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease-in-out;
    
}

 .forms_buttons .forms_button-action:hover {

    background-color: #d16865;
    
}



 .forms_field {

    margin-bottom: 30px;
}



.forms_buttons .forms_button-forgot {

    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1rem;
    color: #ccc;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;

}

.forms_buttons .forms_button-forgot:hover {

    color: #858585;

}


/* registrierung-page*/

.registrierung-page {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1em;
    justify-content: center;
    min-height: 100vh;
}

.Headline_Register {

    margin-bottom: 40px;
}

.register-window {

    padding: 40px 60px;
    
}

.register_buttons {

    margin-top: 40px;
}

.registrierung-page .forms_button-forgot {

    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1rem;
    color: #ccc;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
    margin-top: 20px;

}

.registrierung-page .forms_button-forgot:hover {

    color: #858585;

}


/* Spielregeln */

.spielregeln {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1em;
    justify-content: center;
    height: 100vh;
    padding-top: 1.8rem;
}

.spielregeln-window {
    background: white;
    min-height: 75vh;
    width: 95%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.Headline_Spielregeln h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 1.7rem;
}

.spielregelnContent {
    display: flex;
    flex-direction: row;
}

.links {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 20px;
}

.links h1 {
    text-align: left;
    font-size: 25px;
    color: white;
    line-height: 1em;
    padding: 10px 10px;
}

.intro {
    font-size: 16px;
    color: white;
    text-align: justify;
    padding-left: 10px;
    line-height: 1.4em;
}

.introduction {
    margin-bottom: 4rem;
}
.introduction3 {
    margin-bottom: 1rem;
}

.mitte {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mitte img {
    max-height: 27rem;
    width: auto;
    border-radius: 20px;
}

.rechts {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-bottom: 20px;
    justify-content: center;
}

.rechts h1 {
    text-align: left;
    font-size: 25px;
    color: white;
    line-height: 1em;
    padding: 10px 10px;
}

.spielablauf {
    font-size: 16px;
    color: white;
    text-align: justify;
    padding-left: 10px;
    line-height: 1.4em;
}


/* Footer */
footer {
    position: fixed;
    background-color: #333;
    padding: 14px 16px;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;

}

footer a {

    color: white;

}

.Year {
    text-decoration: none;
    color: white;
}

.user {
    text-decoration: none;
    color: white;
}



.toast {
    font-family: "Montserrat", sans-serif;
    display: none;
    border-radius: 20px;
    background-color: rgba(38, 255, 0, 0.63);
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 300px;
    padding: 10px;
    color: lightgrey;
    text-align: center;
}

#close{
    border-radius: 5px;
    border-style: none;
    position: fixed;
    right: 45px;
    padding: 2px;
    width: 20px;
    color: white;
    background-color: transparent;
}

#close:hover{
    background-color: #998e8e;

}