* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: url('./img/Home.jpg');
    background-size: 100%;
    font-size: 14px;
    font-family: Arial;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    padding: 0px;
    padding-left: 100px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

header a img {
    height: 3.5rem;
    width: auto;
}

#MenueContent {
   
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Logout {
    height: 100%;/* Set the height of the div to fill the header vertically */
    width: 100vw;
    padding-right: 150px;
    padding-left: 150px;
    display: flex;/* Use flexbox */
    justify-content: center;/* Center the content horizontally */
    align-items: center;/* Center the content vertically */
}

#Login {
    height: 100%;/* Set the height of the div to fill the header vertically */
    width: 100vw;
    padding-right: 150px;
    padding-left: 150px;
    display: flex;/* Use flexbox */
    justify-content: center;/* Center the content horizontally */
    align-items: center;/* Center the content vertically */
}

#MenueContent li {
    /* float: left; */
    margin: 0;

}

#MenueContent a {
    /* display: block;
    color: white;
    text-align: center;
    
    text-decoration: none; */
    text-decoration: none;
    padding: 10px 19px;
    color: white;
    border-radius: 20px;
}

#MenueContent a:hover,
#MenueContent a.active {
    background-color: #998e8e;
}




#appcontent {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* chatfenster */
#chatbox {
    position: fixed;
    top: 4rem;
    right: 0px;
    width: 300px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    z-index: 10;
    border-radius: 4px;
}

#chatfenster {
    background-color: aliceblue;
    padding: 10px;
    word-wrap: break-word;
    border-radius: 4px;
    height: calc(20em); /* Set the height to 15 lines */
    overflow-y: auto; /* Make it scrollable */
}

#chatbtn {
    background-color: #e8716d; 
    border: none;
    border-color: #333;
    border-radius: 4px;
    color: white;
    padding: 3px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#chatbtn:hover {
    background-color: #45a049;
}

#chatbtn:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* welcome-page */

.welcome-page {

    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    
}

.welcome-page h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    }

    .welcome-page  h2 {
    text-align: center;
    font-size: 20px;
    color: white;
    }
  
    .welcome-page   p {
    text-align: center;
    font-size: 30px;
    color: white;
    }

/* login-page */

.login-page {

    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1em;
    justify-content: center;
    min-height: 100vh;
    
}

.forms-window {

    background-color: #fff;
    min-height: 400px;
    width: 600px;
    border-radius: 20px;
    box-shadow: 5px 0 15px black;
    padding: 80px 60px;
    
}



 .forms_field input {

    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
}


 .forms_field input::placeholder {

    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
}

 .forms_field input::placeholder:hover {

    color: #858585;
}

 .Headline_Forms {

    margin-bottom: 70px;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    color: #e8716d;
    letter-spacing: 0.1rem;
    margin-top: 0;
}

.Headline_Game{

    margin-bottom: 70px;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1em;
    color: #e8716d;
    letter-spacing: 0.3rem;
    margin-top: 0;
    text-align: center;
    
    
}



 .forms_field .forms_field-input {

    width: 100%;
    border-bottom: 1.5px solid #ccc;
    padding: 6px 20px 6px 6px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #858585;
    letter-spacing: 0.1rem;
    transition: border-color 0.2s ease-in-out;
}

 .forms_field .forms_field-input:focus {

    border-color: #858585;
}

 .forms_field .forms_field-input:hover {

    border-color: #858585;
}

 .forms_buttons {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

 .forms-window button {

    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
}

 .forms_buttons .forms_button-action {

    background-color: #e8716d;
    padding: 10px 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease-in-out;
    
}

 .forms_buttons .forms_button-action:hover {

    background-color: #d16865;
    
}



 .forms_field {

    margin-bottom: 30px;
}



.forms_buttons .forms_button-forgot {

    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1rem;
    color: #ccc;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;

}

.forms_buttons .forms_button-forgot:hover {

    color: #858585;

}


/* registrierung-page*/

.registrierung-page {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1em;
    justify-content: center;
    min-height: 100vh;
}

.Headline_Register {

    margin-bottom: 40px;
}

.register-window {

    padding: 40px 60px;
    
}

.register_buttons {

    margin-top: 40px;
}

.registrierung-page .forms_button-forgot {

    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.1rem;
    color: #ccc;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
    margin-top: 20px;

}

.registrierung-page .forms_button-forgot:hover {

    color: #858585;

}


/* Spielregeln */

.spielregeln {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    line-height: 1em;
    justify-content: center;
    height: 100vh;
    padding-top: 1.8rem;
}

.spielregeln-window {
    background: white;
    min-height: 50vh;
    width: 95%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.Headline_Spielregeln h1 {
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 2.5rem;
}

.spielregelnContent {
    display: flex;
    flex-direction: row;
}

.links {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.links h1 {
    text-align: left;
    font-size: 25px;
    color: white;
    line-height: 1em;
    padding: 10px 10px;
}

.intro {
    font-size: 16px;
    color: white;
    text-align: justify;
    padding-left: 10px;
    line-height: 1.4em;
}

.introduction {
    margin-bottom: 4rem;
}
.introduction3 {
    margin-bottom: 1rem;
}

.mitte {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mitte img {
    max-height: 27rem;
    width: auto;
    border-radius: 20px;
}

.rechts {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-bottom: 20px;
    justify-content: center;
}

.rechts h1 {
    text-align: left;
    font-size: 25px;
    color: white;
    line-height: 1em;
    padding: 10px 10px;
}

.spielablauf {
    font-size: 16px;
    color: white;
    text-align: justify;
    padding-left: 10px;
    line-height: 1.4em;
}


/* profil-page */

.profil-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profil-page h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

.profil-page h2,
.profil-page p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

.profil-page p {
    font-size: 20px;
    padding-top: 2px;
    padding-bottom: 7px;
}

.profil-page h2 {
    font-size: 30px;
}

.profil-page h3 {
    color: #426696;
    font-weight: 600;
    font-size: 28px;
    opacity: 0.8;
    margin-top: .5rem;
}


.profil-page .glass {
    margin-top: 1.4rem;
    background: white;
    min-height: 83vh;
    width: 80%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}

.profil-page .circle1, 
.profil-page .circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    z-index: -99;
}

.profil-page .circle1 {
    top: 5%;
    right: 5%;
}

.profil-page .circle2 {
    bottom: 2%;
    left: 5%;
}

.profil-page .dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}

.profil-page .dashboard .user img {
    margin-top: 2rem;
    height: 7rem;
    width: auto;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
}

.profil-page .dashboard .links{
    margin-top: 0.5rem;
}

.profil-page .link {
    display: flex;
    padding: 1rem 3rem;
    padding-left: 0;
    align-items: center;
    padding-top: 0;
}

.profil-page .link h2:hover,
.profil-page .link h2.active {
    background: white;
    cursor: pointer;
}

.profil-page .link h2 {
    width: 100%;
    padding: 8px 15px;
    font-size: 24px;
    text-align: left;
    border-radius: 10px;
}

.profil-page .profil-view {
    flex: 2;
}

/*Profil-view*/
.profil-page .status {
    margin-top: 1rem;
}

.profil-page .status h1 {
    position: relative;
    top: 0rem;
}

.profil-page .status input {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border: none;
    width: 80%;
    height: 15px;
    border-radius: 2rem;
    margin-bottom: 3rem;
}

.profil-page .profil-view {
    margin: 1rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profil-page .card {
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    width: 100%;
}

.profil-page .cards {
    margin-top: -1.3rem;
}

.profil-page .card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profil-page .userdata_box {

    display: flex;
    flex-direction: row;
    width: 100%;
}

.profil-page .userdata_text {

    flex: 1;
}

.profil-page .userdata_inputs {
    width: 100%;
    border-radius: 10px;
    flex: 2;
}

.profil-page .userdata_field {
    display: flex;
    padding: 10px 15px;
    align-items: center;
}

.profil-page .forms_field_userdata {
    margin-bottom: 0;
    position: relative;
    left: 10%;
    width: 300px;
}

.profil-page .forms_field_username {

    margin-bottom: 0;
    position: relative;
    left: 10%;
    width: 300px;
    
}

.profil-page .forms_field_username input {

    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;

}


.profil-page .forms_field_userdata .forms_field-input {
    padding-right: 0;
    width: 100%;
}

.profil-page .card-info h2 {
    padding-bottom: 10px;
}

.profil-page .profil_buttons {
    display: flex;
    justify-content: end;
    margin-top: 25px;
}

.profil_buttons .user_button-action {
    background-color: #426696;
}

.profil_buttons .user_button-action:hover {
    background-color: #36547b;
}

.profil-page .forms_field_userdata input {
    background-color: white;
    padding: 0;
    border: 0;
    outline: 0;
}

.profil-page .forms_field_userdata .user_field-input {

    width: 100%;
    border: 1.5px solid #ccc;
    padding: 6px 20px 6px 6px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #858585;
    border-radius: 10px;
    letter-spacing: 0.1rem;
    transition: border-color 0.2s ease-in-out;
}

.profil-page .forms_field_username .username_field-input {

    width: 100%;
    border: none;
    padding: 6px 20px 6px 6px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: black;
    border-radius: 10px;
    letter-spacing: 0.1rem;
    transition: border-color 0.2s ease-in-out;
    
}


.forms_field_userdata .user_field-input:focus {

    border-color: #858585;
}

 .forms_field_userdata .user_field-input:hover {

    border-color: #858585;
}


.disable {

    pointer-events: none;

}

/* Lobby */

.lobby-page {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
        
}

.lobby-page h2 {

    position: relative;
    top: -5rem;
}

.lobby-page .play_button {

display: flex;
align-items: center;
justify-content: center;
margin-top: 80px;

}

.play_button .forms_button-action {

    background-color: #e8716d;
    padding: 10px 80px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease-in-out;

}

.lobby_window {

    align-items: center;
    justify-content: center;
       

}

/* .pulse {

    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    text-shadow: 0 0 0 rgba(0, 0, 0 0.3);
}

@keyframes pulse {

    0% {
        text-shadow: 0 0 0 rgba(0, 0, 0 0.3);
    }
    50% {
        text-shadow: 0 0 10px rgba(0, 0, 0 0.6);
    }
    100% {
        text-shadow: 0 0 0 rgba(0, 0, 0 0.3);
    }
} */

.Waiting {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.Waiting .Headline_Waiting {

    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.Waiting_list {

    border: 1px solid #ccc;
    border-radius: 20px;
    min-height: 15vh;
    padding: 10px 10px;
}


.Waiting .Waiting_list .Waiting_Player {

    padding: 10px 35px;
    background-color: #e99f9d;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    width: 100%;
    
}

.Waiting .Waiting_list .Waiting_Player #Player_Link {

    text-decoration: none;
    color: white;
    
}

.Waiting .Waiting_list .Waiting_Player:hover {


}

.Waiting .waiting-window {

    padding: 40px 60px;
}

.Game {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: absolute;
    top: 20%;
    left: 30px;
    color: white;
}

.loader {

    text-align: center;
    width: 100%;
    height: 1em;
    margin-top: 1em;
    padding-top: 4em;
    
}

.loader_letter {

    text-transform: uppercase;
    color: #e8716d;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 0 0 0.2em;
    font-size: 2em;
    line-height: 1;
    position: relative;
    display: inline-block;
    animation: bounce 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate;
}

.loader_letter:nth-child(1) {
    animation-delay: 0s;
}

.loader_letter:nth-child(2) {
    animation-delay: 0.05s;
}

.loader_letter:nth-child(3) {
    animation-delay: 0.1s;
}

.loader_letter:nth-child(4) {
    animation-delay: 0.15s;
}

.loader_letter:nth-child(5) {
    animation-delay: 0.2s;
}

.loader_letter:nth-child(6) {
    animation-delay: 0.25s;
}

.loader_letter:nth-child(7) {
    animation-delay: 0.3s;
}

@keyframes bounce {

    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-1em);
    }
}

/* Footer */
footer {
    position: fixed;
    background-color: #333;
    padding: 14px 16px;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;

}

footer a {

    color: white;

}

.Year {
    text-decoration: none;
    color: white;
}

.user {
    text-decoration: none;
    color: white;
}



.toast {
    
    display: none;
    border-radius: 20px;
    background-color: rgba(38, 255, 0, 0.63);
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 300px;
    padding: 10px;
    color: black;
    text-align: left;
}