* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0099ff;
    font-size: 14px;
    font-family: Arial;
    margin: 0;
    padding-top: 4.5rem;
    padding-left: 2rem;
}

body::-webkit-scrollbar {
    width: 0px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    padding: 0px;
    padding-left: 100px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img {
    height: 3.5rem;
    width: auto;
}

#MenueContent {
    /* top:0;
    position: fixed;
    
    width: 100%;
    margin-bottom: 50px;
    
    overflow: hidden;
    background-color: #333; */
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Logout {
    height: 100%;/* Set the height of the div to fill the header vertically */
    width: 100vw;
    padding-right: 200px;
    padding-left: 200px;
    display: flex;/* Use flexbox */
    justify-content: center;/* Center the content horizontally */
    align-items: center;/* Center the content vertically */
}

#Login {
    height: 100%;/* Set the height of the div to fill the header vertically */
    width: 100vw;
    padding-right: 200px;
    padding-left: 200px;
    display: flex;/* Use flexbox */
    justify-content: center;/* Center the content horizontally */
    align-items: center;/* Center the content vertically */
}

#MenueContent li {
    /* float: left; */
    margin: 0;

}

#MenueContent a {
    /* display: block;
    color: white;
    text-align: center;
    
    text-decoration: none; */
    text-decoration: none;
    padding: 10px 19px;
    color: white;
    border-radius: 20px;
}

#MenueContent a:hover,
#MenueContent a.active {
    background-color: #998e8e;
}

#chatbox {
    position: absolute;
    right: 0px;
    margin-top: 5px;
    margin-right: 5px;
    
}

#chatfenster{
    background-color: aliceblue;
}

main {
    padding-top: 5px;
    padding-bottom: 200px;
}

footer {
    position: fixed;
    background-color: #333;
    padding: 14px 16px;
    bottom: 0;
    width: 100%;
    text-align: center;
    left: 0;

}

footer a {

    color: white;

}

.Year {
    text-decoration: none;
    color: white;
}

.user {
    text-decoration: none;
    color: white;
}